header {
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: row;
    background-color: cornflowerblue;

}

.logo {
display: flex;
}

.page-title {
    display: flex;

}

.top-nav {
    display: flex;

}

a {
    text-decoration: none;
}

#horizontal-nav {

}

p {

}

.start-here {

}

.large-img {

}

.words-and-button {

}

button {

}